/* ================= THEME VARIABLES ================= */

:root {

  --bg: #09090b;
  --card: #18181b;
  --text: #f4f4f5;
  --accent: #ff7a18;

}

.dark {

  --bg: #0f172a;
  --card: #1e293b;
  --text: #e2e8f0;
  --accent: #fb923c;

}

/* ================= GLOBAL ================= */

body {

  background: var(--bg);
  color: var(--text);

}

/* ================= CARD ================= */

.card,
.product-card {

  background: var(--card);
  color: var(--text);

}

/* ================= NAVBAR ================= */

.navbar-custom {

  background: var(--card);
  color: var(--text);

}

/* ================= FOOTER ================= */

.footer {

  padding: 20px;
  text-align: center;
  background: var(--card);
  border-top: 1px solid #3f3f46;

}

/* ================= LINKS ================= */

a {

  color: var(--accent);

}