/* PAGE */
.choco-page {
  max-width: 1200px;
  margin: auto;
  padding: 40px 25px;
  background:#09090b;
}

/* HEADER */
.choco-header {
  text-align: center;
  margin-bottom: 40px;
  padding: 60px 20px;
  background: linear-gradient(135deg, rgba(15, 23, 42, 0.9), rgba(15, 23, 42, 1));
  border-radius: 32px;
  color: white;
  box-shadow: 0 20px 40px -10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.choco-header::before {
  content: '';
  position: absolute;
  top: -50%; left: -50%; width: 200%; height: 200%;
  background: radial-gradient(circle, rgba(249, 115, 22, 0.1) 0%, transparent 60%);
  animation: rotate 20s linear infinite;
}

.choco-header h1 {
  font-weight: 800;
  font-size: 36px;
  letter-spacing: -0.02em;
  position: relative;
  z-index: 1;
}

.choco-header p {
  font-size: 1.125rem;
  color: #cad5e2;
  margin-top: 12px;
  position: relative;
  z-index: 1;
}





/* OVERLAY CONTENT */

.choco-overlay {
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 150px;
}


/* TEXT */

.choco-name {
  font-weight: 600;
  margin-bottom: 6px;
  font-size: 16px;
}

.choco-price-amount {
  color: #ff4d4f;
  font-weight: bold;
}

.choco-desc {
  font-size: 13px;
  color: #a1a1aa;
  margin-bottom: 12px;
}


/* ADD BUTTON */

.choco-btn-add {
  background: linear-gradient(135deg,#a0522d,#7a3b20);
  color: white;
  padding: 8px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}

.choco-btn-add:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 16px rgba(0,0,0,0.2);
}


/* COUNTER */

.choco-counter {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.choco-btn-counter {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  border: none;
  background: #27272a;
  font-weight: bold;
  transition:.2s;
}

.choco-btn-counter:hover {
  background: #52525b;
}

.choco-quantity {
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}


/* PAGINATION */
.choco-pagination {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.choco-pagination button {
  border: none;
  padding: 10px 18px;
  border-radius: 12px;
  background: #18181b;
  font-weight: 600;
  color: #f4f4f5;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease;
}

.choco-pagination button:hover {
  background: #27272a;
  transform: translateY(-2px);
  box-shadow: 0 6px 10px -2px rgba(0, 0, 0, 0.6);
}

.choco-pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
}

.choco-pagination button.active {
  background: #0f172a;
  color: white;
  box-shadow: 0 8px 15px -3px rgba(15, 23, 42, 0.4);
}


/* RESPONSIVE */

@media (max-width: 992px) {

  .choco-img {
    height: 180px;
  }

}

@media (max-width: 768px) {

  .choco-img {
    height: 160px;
  }

}

@media (max-width: 576px) {

  .choco-img {
    height: 150px;
  }

}